.sobre-nos {
  padding: 20px;
  font-family: mono;
  color: white;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
}
