@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

:root {
  --swiper-theme-color: "#515839";
  --swiper-navigation-color: "#515839";
}

#sobre,
#parceiros,
#home {
  scroll-margin-top: 96px;
}
